<template>
  <div class="dbconnector">
    <button class="btn" @click="connectToDB()">Connect to DB</button>
    <div class="modal" v-if="showConnectionModal">
      <div class="overlay"></div>
      <div class="container">
        <div class="header">
          Connect to Database
        </div>
        <div class="content">
          <div class="group">
            <label for="dbType">Database type</label>
            <select name="dbType" id="dbType">
              <option value="pgsql">Postgres</option>
              <option value="mysql">MySQL</option>
            </select>

            <hr>

            <div class="group">
              <label for="username">Username</label>
              <input type="text" id="username" name="username" v-model="newConnection.username">
            </div>

            <div class="group">
              <label for="password">Password</label>
              <input type="password" id="password" name="password" v-model="newConnection.password">
            </div>

            <div class="group">
              <label for="databaseServer">Database server</label>
              <input type="text" id="databaseServer" name="databaseServer" v-model="newConnection.server">
            </div>

            <div class="group">
              <label for="tableName">Table name</label>
              <input type="text" id="tableName" name="tableName" v-model="newConnection.table">
            </div>
          </div>
        </div>

        <div class="footer">
          <button @click="closeConnectionModal()">Close</button>
          <button @click="createConnection()">Connect</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions } from 'vuex'
export default {
  name: "DBConnector",
  data() {
    return {
      newConnection: {
        username: 'postgres',
        password: 'hereliesafreeelf215',
        server: 'localhost',
        table:'freshcoapp',
      },
      savedConnections: [],
      showConnectionModal: false,
    }
  },
  methods: {
    ...mapActions([
      'addConnection',
    ]),
    connectToDB() {
      this.showConnectionModal = true;
    },


    closeConnectionModal() {
      this.showConnectionModal = false;
    },
     createConnection() {
       this.addConnection('Hello World');
       
      // ipcRenderer.send("DB_CONNECT", {connection: this.newConnection});
      // ipcRenderer.once("DB_CONNECTED", (event, arg) => {
      //   this.tables = arg.tables;
      //   this.constraints = arg.constraints;

      //   this.showConnectionModal = false;
      // });
    }
  }
}
</script>

<style lang="scss">
$purple: #6200ee;


.modal {
  width: 100vw;
  height: 100vh; 
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  
  .overlay {
    width: 100vw;
    height: 100vh; 
    position: absolute;
    background:rgba($color: #000, $alpha: 0.2);
  }

  .container {
    z-index: 100;
    position: relative;
    background: white;

    width: 70vw;
    margin: 50px auto;

    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3);
    -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3);
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3);

    .header {
      font-size: 1.4rem;
      background: $purple;
      color: white;
      padding: 12px;
      // border-bottom: 1px solid #555;
    }

    .content {
      padding: 12px;
    }

    .footer {
      padding: 12px;
      background: #eee;
    }
  }
}
</style>
