<template>
  <div class="nav-wrap">
    <div class="nav">
      <div class="brand">
        <div class="title">vDB</div>
      </div>

      <div class="nav-items">
        <router-link to="/database" class="nav-link">
          <i class="fas fa-fw fa-database"></i>
        </router-link>


        <router-link to="/settings" class="nav-link">
          <i class="fas fa-fw fa-cog"></i>
        </router-link>
      </div>
    </div>

    <div class="side-nav">
      <div v-if="showOn('database')">
        <h4>Database</h4>

        <!-- <button class="btn">Connect</button> -->

        <db-connector></db-connector>
      </div>      

    </div>
  </div>
</template>

<script>
import DBConnector from './DBConnector';
export default {
  name: "Navigation",
  components: {
    'db-connector': DBConnector,
  },
  methods: {
    showOn(pathName) {
      pathName = pathName.toLowerCase();
      let currentPath = this.$route.name.toLowerCase();
      return (pathName === currentPath) ? true : false;
    }
  }
}
</script>

<style lang="scss">
  $navWidth: 55px;
  $navHeight: 100vh;

.flex-end {
  display: flex;
  
  align-content: space-between;
}

  .nav-wrap {
    display: flex;
    flex-direction: row;
  }
  .nav {
    background: #333;
    width: $navWidth;
    height: $navHeight;
    display: block;
    .brand {
      background: #6200ee;
      text-align: center;
      color: #fff;
      display: inline-block;
      width: $navWidth;
      .title {
        padding: 8px;
        font-size: 1.2rem;
        font-weight: 700;
      }
    }

    .nav-link {
      width: $navWidth;
      text-align: center;
      padding:12px;
      box-sizing: border-box;
      display:inline-block;
      text-decoration: none;
      color: #fff;
      transition: all 0.3s ease-in-out;
      font-size: 1.2rem;

      &:hover{
        background:rgba($color:#aaa, $alpha: 0.3);
      }
    }
  }
  .side-nav {
    display: block;
    background: #555;  
    width: 100px;
    height: 100vh;
  }

  .justify-content-between {
    display: flex;
    justify-content: space-between;
  }
  
</style>
