<template>
  <div>
    <h1>About</h1>
    <router-link to="/">home</router-link>
    <router-link to="/about">About</router-link>
  </div>
</template>

<script>
export default {

}
</script>

<style>

</style>
