<template>
  <div>

    <div class="row">

      <navigation></navigation>

      <div class="col">
        <!-- <h1>Databases</h1> -->

        <!-- <button class="btn" @click="connectToDB()">Connect to DB</button> -->
        <button class="btn" @click="changeUIState('table')">Tables</button>
        <button class="btn" @click="changeUIState('constraints')">Constraints</button>

        <div v-if="uiState === 'table'">
          <div class="table-collection">
            <div class="table" v-for="(table, key) in tables" :key="key">
              <div class="table-header">{{ table.name }}</div>
              <div class="table-column" v-for="(column, columnKey) in table.tableDefintion" :key="columnKey">
                <strong>{{ column.name }}</strong> {{ column.datatype }}
              </div>
              <!-- <pre>{{ table.tableDefintion }}</pre> -->
            </div>
          </div>
        </div>
        
        <div v-if="uiState === 'constraints'">
          <pre>{{ constraints }}</pre>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { ipcRenderer } from "electron";

import Navigation from '../components/Nav';

import DBConnector from '../components/DBConnector';

export default {
  name: "Database",
  components: {
    Navigation,
    'db-connector': DBConnector,
  },
  data() {
    return {
      uiState: 'table',
      showConnectionModal: false,
      tables: [],
      constraints: [],
    }
  },
  
  methods: {
    changeUIState(state) {
      this.uiState = state;
    },
  }
}
</script>

<style lang="scss">

.row {
  display: flex;
  flex-direction: row;

  .col {
    -ms-flex-preferred-size: 0;
      flex-basis: 0;
      -ms-flex-positive: 1;
      flex-grow: 1;
      max-width: 100%;

      padding: 6px 10px;
  }
}
  .table {
    width: 200px;
    margin-bottom:8px;
    border: 1px solid rgba($color: #000000, $alpha: 0.4);

    &-header {
      padding:12px;
      background: #eee;
      font-size: .9rem;
    }

    &-column {
      font-size: .7rem;
      padding:6px;
      border: 1px solid rgba($color: #000000, $alpha: 0.2);
    }
  }


  .btn {
    background: white;
    padding: 4px;
    font-size: 1rem;
  }
</style>
