<template>
  <div class="homepage">
    <h1>Visual DB</h1>
    <router-link to="/database" class="gettingstarted">Lets go</router-link>
  </div>
</template>

<script>
export default {
  name: "Home"
}
</script>

<style lang="scss">
  $purple: #6200ee;

  .homepage{
    width: 100vw;
    height: 100vh;
    background:$purple;
    color: white;
  }

  .gettingstarted {
    background: white;
    color: black;
    border:1px solid black;
    border-radius: 5px;
    padding:8px;
    box-sizing: border-box;
  }
</style>
