<template>
  <div>
    <div class="row">

      <navigation></navigation>
      <h1>Settings</h1>
    </div>
  </div>
</template>

<script>
import Navigation from '../components/Nav';


export default {
  name: "Settings",
  components: {
    Navigation
  },
}
</script>

<style>

</style>
