<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<style lang="sass">
body {
  padding: 0;
  margin:0;
}
* {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 0;
  margin:0;
}
</style>
